# Binaries and libraries
*.exe
*.dll
*.so
*.dylib

# Temporary and backup files
*~
.vscode
.devcontainer

# Test binary
*.test

# Build output
bin

# Coverage files
*.out

# Go workspace file
go.work
